ai-recall-automation/workflows/domestic-recall-oecd-sample.json
{
  "name": "Domestic Recall → OECD Registration (Sample)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Daily Trigger 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "id": "schedule-trigger-001"
    },
    {
      "parameters": {
        "url": "https://api.example-gov.kr/recalls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date_from",
              "value": "={{ $today() }}"
            },
            {
              "name": "status",
              "value": "active"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch New Recalls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "id": "http-fetch-recalls"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.results.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has New Recalls?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "if-has-recalls"
    },
    {
      "parameters": {
        "jsCode": "// Extract recall data\nconst recalls = $input.all()[0].json.results;\n\nreturn recalls.map(item => ({\n  json: {\n    recall_id: item.recall_id,\n    product_name_ko: item.product_name,\n    manufacturer_ko: item.manufacturer,\n    hazard_ko: item.hazard,\n    recall_date: item.recall_date,\n    image_url: item.image_url,\n    source_country: 'Korea',\n    source_language: 'ko'\n  }\n}));"
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 240],
      "id": "code-extract"
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "temperature": 0.2,
          "maxTokens": 1500
        },
        "messages": {
          "values": [
            {
              "message": "=System: You are a professional translator specializing in product safety recalls.\n\nTranslate this Korean recall to English:\n\nProduct: {{ $json.product_name_ko }}\nManufacturer: {{ $json.manufacturer_ko }}\nHazard: {{ $json.hazard_ko }}\n\nProvide JSON output:\n{\n  \"product_name_en\": \"...\",\n  \"manufacturer_en\": \"...\",\n  \"hazard_description_en\": \"...\"\n}"
            }
          ]
        },
        "jsonOutput": true
      },
      "name": "AI Translation",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1120, 240],
      "id": "ai-translate"
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "temperature": 0.1
        },
        "messages": {
          "values": [
            {
              "message": "=Assign GPC code to this product:\n\nProduct: {{ $json.product_name_en }}\nCategory: {{ $json.category }}\n\nTop GPC Categories:\n- 10000000: Baby Care\n- 52000000: Household Appliances\n- 56000000: Electrical & Electronics\n\nProvide JSON:\n{\n  \"gpc_code\": \"52161500\",\n  \"confidence\": \"high\",\n  \"reasoning\": \"...\"\n}"
            }
          ]
        },
        "jsonOutput": true
      },
      "name": "Assign GPC Code",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1340, 240],
      "id": "ai-gpc"
    },
    {
      "parameters": {
        "jsCode": "// Generate OECD XML\nconst data = $input.all()[0].json;\n\nconst xml = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<recall xmlns=\"http://globalrecalls.oecd.org/v2.0\">\n  <recallId>${data.recall_id}</recallId>\n  <country>KR</country>\n  <recallDate>${data.recall_date}</recallDate>\n  <product>\n    <n>${data.product_name_en}</n>\n    <manufacturer>${data.manufacturer_en}</manufacturer>\n    <gpcCode>${data.gpc_code}</gpcCode>\n  </product>\n  <hazard>\n    <description>${data.hazard_description_en}</description>\n  </hazard>\n</recall>`;\n\nreturn [{\n  json: {\n    ...data,\n    oecd_xml: xml\n  }\n}];"
      },
      "name": "Generate XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 240],
      "id": "code-xml"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "OECD Review",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Recall_ID": "={{ $json.recall_id }}",
            "Product_KO": "={{ $json.product_name_ko }}",
            "Product_EN": "={{ $json.product_name_en }}",
            "GPC_Code": "={{ $json.gpc_code }}",
            "Status": "Pending Review"
          }
        },
        "options": {}
      },
      "name": "Add to Review Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 240],
      "id": "gsheets-review"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Status }}",
              "operation": "equals",
              "value2": "Approved"
            }
          ]
        }
      },
      "name": "Is Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2000, 240],
      "id": "if-approved"
    },
    {
      "parameters": {
        "url": "https://globalrecalls.oecd.org/api/v2/recalls",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.oecd_xml }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/xml"
            },
            {
              "name": "X-Country-Code",
              "value": "KR"
            }
          ]
        },
        "options": {
          "retry": {
            "maxRetries": 3,
            "retryInterval": 5000
          }
        }
      },
      "name": "Submit to OECD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2220, 180],
      "id": "http-oecd-submit"
    },
    {
      "parameters": {
        "chatId": "REDACTED",
        "text": "=✅ OECD Submission Success\n\nRecall ID: {{ $json.recall_id }}\nProduct: {{ $json.product_name_en }}\nOECD ID: {{ $json.oecd_recall_id }}\n\nURL: https://globalrecalls.oecd.org/recalls/{{ $json.oecd_recall_id }}"
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2440, 180],
      "id": "telegram-success"
    }
  ],
  "connections": {
    "Daily Trigger 9AM": {
      "main": [
        [
          {
            "node": "Fetch New Recalls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Recalls": {
      "main": [
        [
          {
            "node": "Has New Recalls?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Recalls?": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "AI Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Translation": {
      "main": [
        [
          {
            "node": "Assign GPC Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign GPC Code": {
      "main": [
        [
          {
            "node": "Generate XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate XML": {
      "main": [
        [
          {
            "node": "Add to Review Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Review Sheet": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Submit to OECD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to OECD": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-14T00:00:00.000Z",
  "versionId": "sample-v1.0"
}
